@Html.Partial("_PartialHeader")

<section class="pt-5 padding-bottom">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <a href="#" class="btn btn-primary">Search</a>
    </div>
    
</section>



@Html.Partial("_PartialFooter")