@Html.Partial("_PartialHeader")

<section class="pt-5 padding-bottom">
    <div class="container">
        <h5 class="card-header">Forget Password</h5>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">User Name</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</section>


@Html.Partial("_PartialFooter")